
<div class="page-header" id="page-header">
    <h1>
        <a href="{{& page.page_link}}" title="{{page.page_title}}"><img src="{{& page.page_logo}}" alt="[M↓]" /></a>&nbsp; {{& page.page_title}}
        <br class="visible-xs"> <small><em>{{& page.page_description}}</em></small>
    </h1>
</div>

<div class="content" id="page-content" role="main">        

    <div class="row">

        <div class="col-md-4 wow bounceInLeft" data-wow-duration="2s" data-wow-delay="1s">
            <h2>Full specifications</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p>
                <a href="http://manifest.aboutmde.org/" class="btn btn-primary btn-lg"><span class="fa fa-book"></span>&nbsp;MDE manifest</a>
                <span class="text-muted text-warning">manifest.aboutmde.org</span>
            </p>
        </div>

        <div class="col-md-4 wow bounceInDown" data-wow-duration="2s" data-wow-delay="1s">
            <h2>Want to try it?</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p>
                <a href="http://dingus.aboutmde.org/" class="btn btn-info btn-lg"><span class="fa fa-code"></span>&nbsp;MDE dingus</a>
                <span class="text-muted text-warning">dingus.aboutmde.org</span>
            </p>
        </div>

        <div class="col-md-4 wow bounceInRight" data-wow-duration="2s" data-wow-delay="1s">
            <h2>Parse MDE online</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p>
                <a href="http://api.aboutmde.org/" class="btn btn-info btn-lg"><span class="fa fa-signal"></span>&nbsp;MDE API</a>
                <span class="text-muted text-warning">api.aboutmde.org</span>
            </p>
        </div>

    </div>
    <br>

    <div class="row">

        <div class="col-md-4 wow bounceInLeft" data-wow-duration="2s" data-wow-delay="1s">
            <h2>Forgot the syntax?</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p>
                <a href="http://cheatsheet.aboutmde.org/" class="btn btn-success btn-lg"><span class="fa fa-support"></span>&nbsp;MDE cheat-sheet</a>
                <span class="text-muted text-warning">cheatsheet.aboutmde.org</span>
            </p>
        </div>

        <div class="col-md-4 wow bounceInUp" data-wow-duration="2s" data-wow-delay="1s">
            <h2>Want to get involved?</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p>
                <a href="http://github.com/markdown-extended/" class="btn btn-warning btn-lg"><span class="fa fa-github"></span>&nbsp;GitHub sources</a>
                <span class="text-muted text-warning">github.com/markdown-extended</span>
            </p>
        </div>

        <div class="col-md-4 wow bounceInRight" data-wow-duration="2s" data-wow-delay="1s">
            <h2>Want to use it?</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p>
                <a href="http://github.com/piwi/markdown-extended/" class="btn btn-warning btn-lg"><span class="fa fa-github"></span>&nbsp;PHP MDE parser</a>
                <span class="text-muted text-warning">piwi/markdown-extended</span>
            </p>
        </div>

    </div>

</div>

